/*
== GENERAL ==
*/

body {

	padding-top: 50px;
	background: url('../img/texture.png') top left repeat;
}

.wrap{

	padding-top: 50px;
	padding-bottom: 50px;
}

.header-section{

	text-align: center;
	--webkit-font-smoothing: antialiazed;
	text-rendering: optimizeLegibility;
}

h1 {

	font-family: 'graduate' , cursive; 
}

h2 {

	font-family: pacifico, cursive;
}


/** == TITLE & ENROLL  ==*/

#title-enroll .jumbotron{

	background: url('../img/mainBackground.png') 50% 0 no-repeat fixed;
	--webkit-font-smoothing: antialiazed;
	text-rendering: optimizeLegibility;
	text-align: center;
	color: white;
}

/*WHAT WILL YOU LEARN*/

#what-learn {

	text-align: center;
}

#course-target{
	background-color: #BF3E11;
	color: white;
}

/* == COURSE FEATURES  ==*/

#course-features{
	background-color: white;
	text-align: center;
}

#course-features i{
	margin-top: 20px;
}
 }

/* === INSTRUCTOR ===*/
#instructor .left-side{
	text-align: center;
}

.badge.social{
	background: #95A5A6;
	font-size: 20px;
	height: 35px;
	width: 35px;
	text-align: center;
	line-height: 35px;
	margin-top: 5px;
	padding: 0;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	color: white;
}

.badge.social.twitter:hover{
	background: #55ACEE;
}

.badge.social.linkedin:hover{
	background: #4875b4;
}

.badge.social.blog:hover{
	background: #26c281;
}

/* === PROMOTIONAL VIDEO ===*/

#promo-video{

	background: #563d7c;
	color:	white;
}

/* === FOOTER ===*/

#footer{
	padding: 20px;
	background: #22313F;
	color: white;
}

#footer a{
	color: #f5ab35;
}

#footer a:hover{
	color: #f9690e;
}

/** === LECTURE.HTML ====*/

#discussion{
	background: white;

}

#discussion #btn-form, #discussion #btn-form-answer{
	text-align: right;
	margin-top: 5px;
}

/*  == ADMIN_COURSE.html ==*/
/* ADMIN COURSES*/

#admin-	course .container{
	background: white;
	min-height: 600px;	
}

.panel-heading a{
	color: white;
}
